<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Vue js 練習 (component)</title>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>

<body>

  <div id="app">
    <tw-dateinput></tw-dateinput>
  </div>
</body>



<template id="tw-date-input-template">
    <div>
      <input type="number" v-model="year" @keyup="emitDate">
      <input type="number" v-model="month" @keyup="emitDate">
      <input type="number" v-model="day" @keyup="emitDate">
    </div>
</template>

<script>
  Vue.component('tw-dateinput',{
    template: "#tw-date-input-template",
    props: {
      value: {
        type: String,
        default : ""
      }
    },
    data: function(){
      return {
        year:"",
        month:"",
        day:"",
        d:null
      }
    },
    methods: {
      emitDate: function(){
        if(this.year !="" &&
          this.month != "" &&
          this.day != ""){
            var westDate = (this.year + 1911) + '/' + this.month + '/' + this.day;
            this.$emit('input',westDate);
          }
      }
    }
  })

  var app = new Vue({
    el: '#app',
    data:{
      parentMsg: 1
    },
    methods:{

    }
  })
</script>

</html>
